@charset "utf-8";
body
{
	font-family: 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', sans-serif;
	background-color:RGBA(222,222,222,0.1);
}
/*********** 최상단 헤더 바 **************/
#container_navbar_top
{
	background-color:#FF4848;
	height:59px;
	position:fixed;
	z-index:999;
	top:0;
	width:100%;
	border-bottom:2px solid #FFFFFF;
}
#header_navbar_top
{
    position : fixed;  
    vertical-align:middle;
	padding-top:5pt;
	padding-left : 15pt;
	color:white;
	font-weight:100;
	font-size:24pt;
}
#name_navbar_top
{
	color:white;
	font-size:13pt;
	text-align:center;
	float:right;	
	padding-top:15px;
	padding-right:15px;
}
#btn_navbar_top_bottom
{
	background-color:transparent;
	text-align:center;
	border:0px;  
	padding:15pt 15pt;
	color:#FFFFFF;
	font-size:18px;
	font-weight:100;
	float:right;
}
#btn_navbar_top_bottom:hover
{
	background-color:RGBA(255,255,255,0.1);
}
#btn_navbar_top_back
{
	background-color:transparent;
	text-align:center;
	border:0px; 
	padding:13pt 10pt;
	color:#FFFFFF;
	font-size:18px;
	font-weight:100;
}
#btn_navbar_top_back:hover
{
	background-color:RGBA(255,255,255,0.1);
}
#container_body
{
	background-color:white;
	height:auto;
	text-align:center;
	padding-top:70px;
	margin-left:15%;
	margin-right:15%;
	padding-bottom:40px;
	margin-bottom:3%;
	margin-top:50px;
}
#mainlogo
{
	margin-top:20px;
	padding-top:20px;
	margin-bottom:15px;
	font-size:35pt;
	font-weight:bold;
}
#3rdlogo
{
	width:200px; height:200px;
}
#mainlogo>span
{
	padding-left:20px;
}

#container_requestboard
{
	margin:auto auto;
	width:80%;
	margin-top:40px;
	padding-top:15px;
	padding-bottom:5px;
}
#btn_req_complete{
	margin:15px; auto;
	font-size:13pt;
	padding:3px 13px;
	border-radius:3px;
	background-color:RGBA(255,70,50,0.8);
}
#col_req_complete{
	margin-top:9px;
}
#container_userboard>h4{
	margin-top:0px;
	margin-bottom:15px;
}
#img_device{
	width:200px;
	height:200px;
	margin:10px auto;
}
#table_detail{
	font-size:10pt !important;
}
#btn_addItem{
	display:inline-block;
	font-size:13pt;
	margin: auto auto;
	position:relative;
	left:20%;
	background-color:RGBA(90,220,100,0.8);
}
/*********************************/

/*********** 클래스 디자인  **********/
.tableLabel{
	display:inline-block;
}
.img_items{
	width:150px;
	height:150px;
	display:inline-block;
	margin:10px 10px;
}
.div_item{
	width:30%;
	margin:10px; auto;
	border:1px solid RGBA(111,111,111,0.1);
	display:inline-block;
}
.div_item>*{
	display:inline-block;
}
.well{
	padding:8px 8px;
}
.btn_ang
{
	background-color:RGBA(0,210,255,0.9);
	color:white;
	border:0px;
	border-radius:2px;
}
.btn_ang:hover
{
	background-color:RGBA(0,190,245,0.9);
	font-style:normal;
	color:white;
	text-decoration:none;
}
.btn_ang:active
{
	color:white;
	text-decoration:none !important;
}
.btn_ang:visited
{
	text-decoration:none !important;
	color:white;
}
.btn_ang:focus
{
	text-decoration:none;
}
.citybtn
{
	font-size:25pt;
	padding:9pt 14pt;
	font-weight:normal;
	border-radius:6pt;
	margin:15px; 10px;
}
.citybtn:active
{
	text-decoration: none !important;
	color:white;
}
.citybtn:visited
{
	text-decoration:none !important;
	color:white;
}	
.table_ang
{
	margin:auto auto;
	width:102%;
}
.table_ang>tbody
{
	margin:auto auto;
}
.table_ang>tbody>tr>th
{
	text-align:center;
	font-size:11pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.table_ang>tbody>tr>td
{
	text-align:center;
	font-size:11pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
#ul_request >li
{
	margin:8px auto;
}
li
{
	list-style-type:none;
}
th
{
	padding:5px 8px;
}
td
{
	padding:5px 8px;	
}
#mapInModal
{
	margin:auto auto;
	padding-top:20px;
	width:auto;
}
.divline_60{
	width:60% !important;
	margin:10px auto;
	height:1px;
	background-color:#d0d0d0;
}
.divline_90{
	width:90% !important;
	margin:10px auto;
	height:1px;
	background-color:#d0d0d0;
}
.divline_80{
	width:80% !important;
	margin:10px auto;
	height:1px;
	background-color:#d0d0d0;
}
.tableLabel{
	margin-top:20px;
	margin-bottom:20px;
}
.btn_save
{
	border-radius:4px;
	padding:6px;
	padding-left:11px;
	padding-right:11px;
	color:white;
	border:1px solid #D0D0D0;
	background-color: RGBA(33,33,222,0.7);
}
.btn_transp
{
	border-radius:4px;
	padding:5px;
	padding-left:7px;
	padding-right:7px;
	color:white;
	border:0px;
}