@charset "utf-8";
*
{
	/*border:1px dashed blue !important;*/
}

/***** 상단 소형 헤더 스타일 시트 *****/
body
{
	font-family: 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', sans-serif;
	background-color:RGBA(222,222,222,0.1);
}
#container_navbar_top
{
	background-color:RGBA(133,77,255,1);
	height:55px;
	position:fixed;
	z-index:999;
	top:0;
	width:100%;
	border-bottom:2px solid #FFFFFF;
}
#header_navbar_top
{
    position : fixed;  
    vertical-align:middle;
	padding-top:5pt;
	padding-left : 15pt;
	color:white;
	font-weight:100;
	font-size:24pt;
}
#btn_navbar_top_bottom
{
	background-color:transparent;
	text-align:center;
	border:0px;  
	padding:12pt 15pt;
	color:#FFFFFF;
	font-size:18px;
	font-weight:100;
	float:right;
}
#btn_navbar_top_bottom:hover
{
	background-color:RGBA(255,255,255,0.1);
}
#btn_navbar_top_back
{
	background-color:transparent;
	text-align:center;
	border:0px; 
	padding:13pt 10pt;
	color:#FFFFFF;
	font-size:18px;
	font-weight:100;
}
#btn_navbar_top_back:hover
{
	background-color:RGBA(255,255,255,0.1);
}
/**********************************/

/***** 몸통 컨테이너 스타일 시트 *****/
#container_body
{
	background-color:white;
	height:auto;
	text-align:center;
	padding-top:70px;
	margin-left:15%;
	margin-right:15%;
	padding-bottom:40px;
	margin-bottom:3%;
}
#container_SVGheader
{
	padding-top:5pt;
	padding-bottom:10pt;
	text-align:center;
	font-size: 3em;
	float:clear;
}
#container_SVG_p
{
	margin:0 auto;
	text-align:center;
	display:block;
}
#container_SVG_p>*
{
	display:inline-block;
}
#container_SVG
{
	display:block;
	margin:auto;
	width:auto;
}
#chart_cluster_util
{
	padding-left:80px;
}
#container_SVG>h3
{
	position:relative;
	top:-14px;
	margin-top:0px;
	margin-bottom:25px;
}
#container_PiSVG
{
	display:inline-block;
	margin:auto;
	width:auto;
}
#container_SVGinfo
{
	display:inline-block;
	margin-bottom:30px;
	width:auto;
	position:relative;
}
#nodes_stat_num
{
	position:relative;
	font-size:18pt;
	top:110px;
	right:48px;
}
#active_stat_num
{
	position:relative;
	top:107px;
	right:48px;
}
#util_stat_num
{
	position:relative;
	top:107px;
	right:48px;
}
#container_SVGinfo>div
{
	display:inline-block;
	margin-right:9px;
	text-align:center !important;
	border-left:1px solid #D0d0d0;
	padding-left:15px;
}
#container_SVGinfo>div>div
{
	
}
#container_PiSVGinfo
{
	display:inline-block;
	margin-left:30px;
	width:auto;
	position:relative;
}
#container_SVGinfo>div>span
{
	padding-left:3px;
	font-size:15pt;
}
#container_SVGinfo>div>p
{
	
	padding-left:12px;
	font-size:19pt;
}
#container_PiSVGinfo>div
{
	border-left:1px solid #D0D0D0;
	padding-left:10px;	
	margin-top:20px;
	margin-bottom:30px;
	text-align:left;
}
#container_PiSVGinfo>div>span
{
	padding-left:3px;
	font-size:11pt;
}
#container_PiSVGinfo>div>p
{
	
	padding-left:12px;
	font-size:12pt;
}
#container_Pi_p
{
	display:block;
	margin:auto;
	margin-top:35px;
	width:85%;
	border-top:1px solid #d0d0d0;
}
/**********************************/

/***** 기기 & 사용자 정보 컨테이너 스타일 시트 *****/
#container_infolist
{
	border-top:1px solid #D0D0D0;
	margin-left:3%;
	margin-right:3%;
	margin-top:20px;
	padding-top:30px;
}
#btn_3rdlist
{
	margin:4px 4px;
	font-size:13pt;
	background-color:RGBA(33,222,55,0.6);
}
#btn_add3rd
{
	margin:4px 4px;
	font-size:13pt;
	background-color: RGBA(44,77,222,0.6);
}
#table_device
{
	margin:auto auto;
	width:102%;
}
#table_device>tbody
{
	margin:auto auto;
}
#table_device>tbody>tr>th
{
	text-align:center !important;
	font-size:12pt !important;
	padding-top:5px;
	padding-bottom:15px;
}
#table_device>tbody>tr>td
{
	text-align:center !important;
	font-size:11pt;
	padding-left:8px;
	padding-right: 9px;
	padding-top:5px;
	padding-bottom:5px;
}
#table_user
{
	margin:auto auto;
	width:102%;
}
#table_user>tbody
{
	margin:auto auto;
}
#table_user>tbody>tr>th
{
	text-align:center !important;
	font-size:12pt !important;
	padding-top:5px;
	padding-bottom:15px;
}
#table_user>tbody>tr>td
{
	text-align:center !important;
	font-size:11pt;
	padding-left:8px;
	padding-right: 9px;
	padding-top:5px;
	padding-bottom:5px;
}
#container_citylist
{
	margin-top:30px;
	border-top:1px solid #D0D0D0;
	padding-top:15px;
}
#btnlist_city
{
	margin:30px 15px;;
	padding:5px 5px;
}
/**********************************/

/***** 별도의 컴포넌트 스타일 시트 *****/
.fields>text
{
	width:30px !important;
}
#label_unit
{
	font-size:8pt;
	position:absolute;
	width:435px;
	margin:auto;
	text-align:right;
}
.btn_save
{
	border-radius:4px;
	padding:6px;
	padding-left:11px;
	padding-right:11px;
	color:white;
	border:1px solid #D0D0D0;
	background-color: RGBA(33,33,222,0.7);
}
.btn_transp
{
	border-radius:4px;
	padding:5px;
	padding-left:7px;
	padding-right:7px;
	color:white;
	border:0px;
}
#col_3rdlist
{
	margin:15px 15px;
}
#col_3rdlist>div
{
	border:0px;
}
.btn_ang
{
	background-color:RGBA(0,210,255,0.9);
	color:white;
	border:0px;
	border-radius:2px;
}
.btn_ang:hover
{
	background-color:RGBA(0,190,245,0.9);
	font-style:normal;
	color:white;
	text-decoration:none;
}
.btn_ang:active
{
	color:white;
	text-decoration:none !important;
}
.btn_ang:visited
{
	text-decoration:none !important;
	color:white;
}
.btn_ang:focus
{
	text-decoration:none;
}
.citybtn
{
	font-size:25pt;
	padding:9pt 14pt;
	font-weight:normal;
	border-radius:6pt;
	margin:15px; 10px;
}
.citybtn:active
{
	text-decoration: none !important;
	color:white;
}
.citybtn:visited
{
	text-decoration:none !important;
	color:white;
}
.table_ang
{
	margin:auto auto;
	width:102%;
}
.table_ang>tbody
{
	margin:auto auto;
}
.table_ang>tbody>tr>th
{
	text-align:center;
	font-size:11pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.table_ang>tbody>tr>td
{
	text-align:center;
	font-size:10pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
#table_userDevice
{
	border-top:1px solid #D0D0D0;	
}
#table_userDetail>tbody>tr>th
{
	text-align:right !important;
}
#table_userDetail>tbody>tr>td
{
	padding-left:15px;
	text-align:left !important;
}
#table_userDevice>tbody:first-child
{
	font-weight:bold;
	text-align:center;
	font-size:12pt;
}
/**********************************/