@charset "utf-8";
*
{
	/*border:1px dashed blue !important;*/
}
body
{
	font-family: 'Nanum Barun Gothic', 'Nanum Gothic', '돋움', sans-serif;
	background-color:white;
	margin:auto auto;
}
#navbar_top{
	position:fixed;
	top:0 !important;
	z-index:9;
	width:100%;
	height:50px;
	background-color:RGBA(120,70,255,1.0);	
}
#navbar_top_backbtn{
	color:white;
	font-size:19px;
	margin:0px 0px;
	padding-top:5px;
	padding-left:8px;
	width:45px;
	height:49px;
	vertical-align:middle;
	background-color:transparent;
	border:none;
	display:inline-block;
	position:relative;
}
#navbar_top_backbtn:hover
{
	text-decoration:none;
	color:white;
	background-color:RGBA(70,30,200,0.2);
	transition: all 1s ease 0s;
}
#navbar_top_backbtn:active
{
	text-decoration:none;
	color:white;
	background-color:RGBA(70,30,200,0.2);
	transition: all 1s ease 0s;
}
#navbar_top_backbtn:focus
{
	text-decoration:none;
	color:white;
	background-color:RGBA(70,30,200,0.2);
	transition: all 1s ease 0s;
}
#navbar_top_backbtn:target
{
	text-decoration:none;
	color:white;
	background-color:RGBA(70,30,200,0.2);
	transition: all 1s ease 0s;
}
#navbar_top_username{
	color:white;
	font-size:16pt;
	padding-right:10px;
	padding-top:6px;
	float:right;
	position:fixed;
	top:0;
	z-index:102;
	right:50px;
	text-align:right;
	display:inline-block;
}
#navbar_top_menu{
	color:white;
	font-size:16px;
	float:right;
	background-color:RGBA(120,70,255,1.0);
	width:50px;
	height:49px;
	display:inline-block;
	float:right;
}
#navbar_top_btngroup{
	display:inline-block;
	float:right;
}
#navbar_top_menu:hover{
	background-color:RGBA(100,100,100,0.3);
	transition: all 1s ease 0s;
}
#navbar_top_menu:active{
	background-color:RGBA(100,100,100,0.3);
	transition: all 1s ease 0s;
}
#navbar_top_menu:focus{
	background-color:RGBA(100,100,100,0.3);
	transition: all 1s ease 0s;
}
#navbar_top_menu_dropdown{
	position:relative;
	z-index:101;
	top:0px;
	left:0;
	width:180px;
	height:auto;
	background-color:RGBA(30,10,90,0.7);
	margin-top:50px;
	display:none;
	transition: all 1s ease 0s;
}
#navbar_top_menu_dropdown>button{
	display:block;
	background-color:transparent;
	border-radius:0;
	width:100%;
	height:auto;
	font-size:15pt;
	padding:20px 0px;
	text-align:center;
	margin:auto auto;
}
##navbar_top_menu_dropdown>button:first-child{
	margin-top:30px !important;
}
#navbar_bottom{
	width:auto;
	height:auto;
	margin:auto auto !important;
	position:fixed;
	z-index: 98;
	background:transparent;
	bottom:20px;
	border-radius:13px 13px 0px 0px;
	text-align:center;
}
.container_body{
	margin-top:51px;
	margin-left:auto;
	margin-right:auto;
	width:95%;
	height:auto;
	overflow:auto;
	text-align:center;
}
#div_addDevice{
	width:77%;
	text-align:left;
	margin-top:25px;
	margin-bottom:20px;
	display:inline-block;
}
#div_addDevice>label{
	padding-left:10px;
}
#detail_addingDevice{
	width:95%;
	margin-top:12px;
}
#detail_addingDevice>tbody>tr>th{
	padding:7px 10px;
}
#btn_reg{
	font-size:14pt;
	margin:20px auto;
	background-color:RGBA(150,100,255,0.8);
	width:77%;
}
#btn_autoCharge{
	float:right;
	font-size:13pt;
	background-color: RGBA(0,150,255,0.8);
	width:80px !important;
	color:white;
	height:30px;
	display:inline-block;
}
#btn_autoClean{
	float:right;
	font-size:13pt;
	background-color: RGBA(0,150,255,0.8);/*RGBA(200,200,200,0.8);*/
	width:80px !important;
	color:white;
	height:30px;
	display:inline-block;
}
#autoChargeOpt{
	width:75px;
	display:inline-block;
}
#div_autoCharge{
	width:100%;
	display:block;
	margin-top:30px;
}
.form-group>span{
	padding-left:10px;
}
#autoChargeVal{
	width:100px;
	display:inline-block;
	margin-left:20px;
}
#div_autoAlert{
	width:100%;
	display:block;
	margin-top:10px;
}
#autoAlertVal{
	width:100px;
	display:inline-block;
	margin-left:20px;
}
#btn_saveRule{
	width:100px;
	height:40px;
	font-size:15pt;
	float:right;
	margin-top:30px;
}
#selectedItem{
}
/***** 별도의 컴포넌트 스타일 시트 *****/
.padding_left{
	padding-left:8px;
}
.divp_item{
	display:inline-block;
}
.img_item{
	display:inline-block;
	width:80px;
	height:80px;
	margin:auto 20px;
}
.btn_item{
	width:100%;
	margin:auto auto;
	margin-top:10px;
	border:1px solid #DFDFDF;
	padding:10px 10px;
	background-color:RGBA(244,244,244,0.2);
}
.div_vertical_80{
	width:1px;
	border:none;
	background-color:RGBA(255,255,255,0.3);
	height:80%;
	margin:0 0;
	display:inline-block;
	margin-top:5px;
}
.btn_save
{
	border-radius:4px;
	padding:6px;
	padding-left:11px;
	padding-right:11px;
	color:white;
	border:1px solid #D0D0D0;
	background-color: RGBA(33,33,222,0.7);
}
.btn_transp
{
	border-radius:4px;
	padding:5px;
	padding-left:7px;
	padding-right:7px;
	color:white;
	border:0px;
}
.btn_ang
{
	background-color:RGBA(0,210,255,0.9);
	color:white;
	border:0px;
	border-radius:2px;
}
.btn_ang:hover
{
	background-color:RGBA(0,190,245,0.9);
	font-style:normal;
	color:white;
	text-decoration:none;
	border:0px;
}
.btn_ang:active
{
	color:white;
	text-decoration:none !important;
	border:0px;
}
.btn_ang:visited
{
	text-decoration:none !important;
	color:white;
	border:0px;
}
.btn_ang:focus
{
	text-decoration:none;
	border:0px;
}

.table_ang
{
	margin:auto auto;
	width:102%;
}
.table_ang>tbody
{
	margin:auto auto;
}
.table_ang>tbody>tr>th
{
	text-align:center;
	font-size:11pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.table_ang>tbody>tr>td
{
	text-align:center;
	font-size:10pt;
	padding-left:8px;
	padding-right:8px;
	padding-top:4px;
	padding-bottom:4px;
}
.divline_90
{
	height:1px;
	width:90% !important;
	border-top:1px solid #D0D0D0;
	margin:0px auto;
}
.divline_60
{
	height:1px;
	width:60% !important;
	border-top:1px solid #D0D0D0;
	margin:0px auto !important;
	margin-left:20%;
}
.container_rule{
	text-align:left;
	padding:10px 5px;
	margin:auto auto;
	display:block;
	height:auto;
}
.container_rule>div
{
	width:100%;
	height:auto;
	padding:3px 3px;
	margin:3px; auto;
	display:block;
}
.inlineSpan{
	padding-top:3px;
	height:30px;
	display:inline-block;
	font-size:13pt;
}
/**********************************/