<!DOCTYPE html>
<html lang="ko">
    <head>
    	<!-- 메타 정보 및 스타일 시트 연동 -->
   		<meta charset="utf-8">
        <title>Co-op Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/fontbase.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/3rdparty.css" rel="stylesheet"/>
        <!-- JQuery, Ajax, 부트스트랩 컴포넌트 연동 -->
        <script src="/static/js/jquery-2.2.4.js"></script>
	    <script src="/static/js/3rdparty.js"></script>
		<script src="/static/js/bootstrap.js"></script>	
    </head>
	
    <body>
    	<div id="container_navbar_top">
			<button id="btn_navbar_top_back" class="glyphicon glyphicon-menu-left"></button>
			<span id="header_navbar_top">소비자 요청 현황판</span>
			<button id="btn_navbar_top_bottom" class="glyphicon glyphicon-menu-down"></button>
			<span id="name_navbar_top">성수네 슈퍼 - 경희대점</span>
		</div>
    	<div id="container_body">
    		<div id="mainlogo">
    			<img src="/static/imgs/3rd logo.png" width="100px" height="90px"/>
    			<span id="header_main">성수네 슈퍼 - 경희대점</span>
    		</div>
	    	
	    	<div id="container_requestboard">
	    		<h3 class="tableLabel">진행중인 &nbsp;요청</h3>
	    		<div class="divline_90"></div>
	    		<table id="table_request_ongoing" class="table_ang">
	    			<tr>
	    				<th>요청 내용</th>
	    				<th>주소</th>
	    				<th>요청 시간</th>
	    				<th>상세정보</th>
	    			</tr>
	    			<!--<tr>
	    				<td class="req_device_name">액티브워시 16kg</td>
	    				<td class="req_msg">회전 모터 고장</td>
	    				<td class="req_address">경희대학교 국제캠퍼스 우정원 2570호</td>
	    				<td class="req_reqtime">18:44 MAY 20, 2016</td>
	    				<td>
	    					<button type="button" id="btn_10001" value="10001" class="btn_ang" 
							data-toggle="modal" data-target="#modal_detail" onclick="detailOf(req_id)">보기</button>
						</td>
	    			</tr>-->
	    		</table>
	    		
	    		<button type="button" data-toggle="collapse" data-target="#col_req_complete" 
					id="btn_req_complete" class="btn_ang" aria-expanded="false" aria-controls="col_req_complete">
						완료된 요청 보기
				</button>
	    		<div class="collapse" id="col_req_complete">
					<div class="well">
			    		<h4>완료된 요청</h4>
			    		<table id="table_request_complete" class="table_ang">
			    			<tr>
			    				<th>요청 내용</th>
			    				<th>주소</th>
			    				<th>요청 시간</th>
			    				<th>상세정보</th>
			    			</tr>
			    		</table>
					</div>
				</div>
	    	</div>
	    	
	    	<div class="divline_80"></div>
	    	
	    	<div id="container_item">
	    		<span>
	    			<h3 class="tableLabel">소모품 현황</h3>
	    			<button type="button" id="btn_addItem" class="btn_ang" 
					data-toggle="modal" data-target="#modal_addItem">
						소모품 추가하기
					</button>
    			</span>
	    		<div>
	    		<!--<div class="div_item">
	    			<img src="/static/imgs/item1.png" class="img_items"/>
	    			<span>
	    				<h5 class="item_name">퍼실 컬ㄹ러 드럼전용 2.7L</h5>
	    				<h6 class="item_price">판매가 19,000원</h6>
	    				<p>보유 수량 : <span class="item_amount">59</span> 개</p>
	    			</span>
	    		</div>
	    		<div class="div_item">
	    			<img src="/static/imgs/item2.png" class="img_items"/>
	    			<span>
	    				<h5 class="item_name">아토세이프 드럼전용 2.5L</h5>
	    				<h6>판매가 <span class="item_price">22,000원</span></h6>
	    				<p>보유 수량 : <span class="item_amount">38</span> 개</p>
	    			</span>
	    		</div>-->
	    		</div>
	    	</div>
    	</div>
    	
    	
    	<!-- 요청 상세정보 표시 모달 -->
		<div class="modal fade" id="modal_detail" tabindex="-1" role="dialog" 
		aria-labelledby="modal_detail" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">요청 상세정보</h4>
				  	</div>
				  	<div class="modal-body">
				    	<table id="table_detail" class="table_ang">
				    		<tr>
				    			<td colspan="2">
				    				<img id="img_device" src="/static/imgs/wahsing_machine_pic.png"/>
				    			</td>
				    		</tr>
				    		<tr>
				    			<th>S/N</th>
				    			<td id="req_SN">--</td>
				    		</tr>
				    		<tr>
				    			<th>사용자명</th>
				    			<td id="req_user_name">--</td>
				    		</tr>
				    		<tr>
				    			<th>제품명</th>
				    			<td id="req_device_name">--</td>
				    		</tr>
				    		<tr>
				    			<th>요청 내용</th>
				    			<td id="req_msg">--</td>
				    		</tr>
				    		<tr>
				    			<th>품목/수량</th>
				    			<td id="req_item">--, --</td>
				    		</tr>
				    		<tr>
				    			<th>주소</th>
				    			<td id="req_address">-- -- -- --</td>
				    		</tr>
				    		<tr>
				    			<th>요청 시간</th>
				    			<td id="req_reqtime">---- -- -- --:--</td>
				    		</tr>
				    		<tr>
				    			<th>요청 상태</th>
				    			<td id="req_status">--</td>
				    		</tr>
				    	</table>
				  	</div>
				  	<div class="modal-footer">
				  		<button type="button" class="btn_ang" data-dismiss="modal">확인</button>
						<div id="done_button"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 요청 상세정보 표시 모달 종료 -->
		
		<!-- 모달 : 소모품 추가 -->
		<div class="modal fade" id="modal_addItem" tabindex="-1" role="dialog" 
		aria-labelledby="modal_addItem" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">소모품 추가</h4>
				  	</div>
				  	<div class="modal-body">
				  		<form action="/consumable" enctype="multipart/form-data" method="post">
							<div class="form-group">
								<label for="name">품명</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="등록할 품명을 입력하세요.">
							</div>
							<div class="form-group">
								<label for="category">분류</label>
								<input type="text" class="form-control" id="category" name="category" placeholder="등록할 물품의 분류를 입력하세요.">
							</div>
							<div class="form-group">
								<label for="device_category">해당 장치 유형</label>
								<input type="text" class="form-control" id="device_category" name="device_category" placeholder="물품이 쓰일 장치 유형을 입력하세요.">
							</div>
							<div class="form-group">
								<label for="price">가격</label>
								<input type="text" class="form-control" id="price" name = "price" placeholder="등록할 물품의 수량을 입력하세요.">
							</div>
							<div class="form-group">
								<label for="image">물품 사진</label>
								<input type="file" name="image">
								<p class="help-block">등록할 물품의 사진을 등록하세요.</p>
							</div>
							<div class="divline_90"></div>
					  		<input type="submit" value="등록" id="btn_accept_addItem" class="btn_save"> </input>
							<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
						</form>
				</div>
			</div>
		</div>
		<!-- 모달 : 소모품 추가 -->
	<!-- 본문 종료 -->
    </body>
</html>