<!DOCTYPE html>
<html lang="ko">
    <head>
    	<!-- 메타 정보 및 스타일 시트 연동 -->
   		<meta charset="utf-8">
        <title>IoT Client - Settings</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/fontbase.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/app_setting.css" rel="stylesheet"/>
    </head>
    <!-- JQuery, Ajax, 부트스트랩 컴포넌트 연동 -->
    <script src="/static/js/jquery-2.2.4.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
	<script src="/static/js/bootstrap.js"></script>	
	<script src="/static/js/app_setting.js"></script>
	
    <body>
    	<!-- 상단 네비게이션 바 -->
    	<div id="device_id">{{device_id}}</div>
    	<div id="navbar_top">
    		<button id="navbar_top_backbtn" class="glyphicon glyphicon-menu-left" onclick="toMain()"></button>
    		<div id="navbar_top_btngroup" class="dropdown">
	    		<button id="navbar_top_menu" onclick="toDropdown()" class="btn_ang glyphicon glyphicon-th"></button>
	    		<div id="navbar_top_menu_dropdown">
	    			<button id="btn_toMain" class="btn_ang" onclick="toMain()">홈으로</button>
	    			<div class="divline_90"></div>
	    			<button id="btn_addDevice" class="btn_ang" onclick="addDevice()">장치 추가하기</button>
	    			<div class="divline_90"></div>
	    			<button id="btn_setting" class="btn_ang" onclick="toSettings()">설정 및 관리</button>
	    			<div class="divline_90"></div>
	    			<button id="btn_logout" class="btn_ang" onclick="logout()">로그 아웃</button>
	    		</div>
    		</div>
    		<h4 id="navbar_top_username">{{user_name}}</h4>
    	</div>
    	
    	<div class="container_body">	
			<h3 id="h3_name">세탁기 1</h3>
			<table id="table_" class="table_ang">
				<tr>
					<td colspan="2">
						<img id="devPic" src="/static/imgs/wahsing_machine_pic.png"/>
					</td>
				</tr>
				<tr>
					<td>고유 번호</td>
					<td id="SN">--</td>
				</tr>
				<tr>
					<td>장치 유형</td>
					<td id="type">--</td>
				</tr>
				<tr>
					<td>생산 일시</td>
					<td id="date">---- -- --</td>
				</tr>
				<tr>
					<td>보증 기간</td>
					<td id="guarantee">구입일로부터 2년</td>
				</tr>
				<tr>
					<td colspan="2"><div class="divline_60"></div></td>
				<tr>
					<td>남은 세제량 : </td>
					<td><span id="amount"></span>%</td>
				</tr>
				<tr>
					<td>상태 : </td>
					<td id="status">--</td>
				</tr>
				<tr>
					<td colspan="2">
						<button id="btn_rule" class="btn_save" onclick="toRule()">
							사용자 설정
						</button>
					</td>
				</tr>
			</table>
    	</div>

    	<!-- 하단 버튼 -->
    	<!--<div id="navbar_bottom">
    		<button id="add_rule" class="btn_ang" onclick="addRule()">
    			<span class="glyphicon glyphicon-plus"></span>사용자 규칙 추가하기
    		</button>
    	</div>-->
	<!-- 본문 종료 -->
    </body>
</html>