<!DOCTYPE html>
<html lang="ko">
    <head>
    	<!-- 메타 정보 및 스타일 시트 연동 -->
   		<meta charset="utf-8">
        <title>Provider dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/css/Nwagon.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/fontbase.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/provider_main.css" rel="stylesheet"/>
    </head>
    <!-- JQuery, Ajax, 부트스트랩 컴포넌트 연동 -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/provider_main.js"></script>
    <script src="/static/js/Nwagon.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>	
	
    <body>
    	
    	<!-- 최상단 소형 헤더 -->
		<div id="container_navbar_top">
			<span id="header_navbar_top">&nbsp;&nbsp;&nbsp;&nbsp;사업자 대시보드</span>
			<button id="btn_navbar_top_bottom" class="glyphicon glyphicon-menu-down"></button>
		</div>
		<!-- 몸통 -->
		<div id="container_body">
			<!-- SVG 헤더 -->
			<div id="container_SVGheader">
				<span>서비스 현황판</span>
			</div>
			<!-- SVG 그래프 & 정보 컨테이너 -->
			<div id="container_SVG_p">
				<!-- 그래프 정보 컨테이너 -->
				<div id="container_SVGinfo">
					<div>
						<div id="cluster_nodes_stat"><h4 id="nodes_stat_num"><strong>15,080</strong></h4></div>
						<script id="script_chart_totalNodes">
							
						</script>
						<span>서비스 참여 중인 노드 : </span><br>
						<p><strong><span id="nodes_stat_num2">15,080</span></strong> nodes</p>
					</div>
				</div>
				
				<div id="container_SVG">
					<span id="label_unit">(단위 : EA)</span>
						<div id="chart_cluster_util"></div>
							<script>
								
							</script>
							<h3><br>서비스 참여 노드 추이</h3>
				</div>
				<div id="container_citylist">
					<h3>도시 영역 목록</h3>
					<div id="btnlist_city">
						<a href="/provider_cityinfo/city_A" class="btn_ang citybtn" id="city_A">City A</a>
					</div>
				</div>
			</div>
			<!-- 기기 & 사용자 관련 정보 컨테이너 -->
			<div id="container_infolist">
				<div>
					<!-- 기기 등록  -->
					<button type="button" id="btn_add3rd" class="btn_transp" 
					data-toggle="modal" data-target="#modal_addDevice">
						기기 등록 | Add Device
					</button>
					
					<!-- 기기 정보 목록 -->
					<button type="button" data-toggle="collapse" data-target="#col_deviceList" 
					id="btn_3rdlist" class="btn_transp" aria-expanded="false" aria-controls="col_deviceList">
						기기 목록 조회 | Show Device List
					</button>
					
					<!-- 사용자 정보 목록 -->
					<button type="button" data-toggle="collapse" data-target="#col_userlist" 
					id="btn_3rdlist" class="btn_transp" aria-expanded="false" aria-controls="col_userlist">
						사용자 목록 조회 | Show User List
					</button>
					
					<div class="collapse" id="col_deviceList">
						<div class="well">
							<div id="container_requestboard">
	    		<table id="table_device">
	    			<tr id="table_device_h">
	    				<th>제품 번호</th>
	    				<th>제품 유형</th>
	    				<th>제품명</th>
	    				<th>생산 일시</th>
	    			</tr>
	    			<tr>
	    				<td>10001</td>
	    				<td>세탁기</td>
	    				<td>액티브워시 16kg</td>
	    				<td>2016-06-02 22:33</td>
	    			</tr>
	    		</table>
	    	</div>
						</div>
					</div>
					<div class="collapse" id="col_userlist">
						<div class="well">
							<div id="container_userboard">
	    		<table id="table_user">
	    			<tr id="table_user_h">
	    				<th>ID</th>
	    				<th>등록 시간</th>
	    				<th>사용자 이름</th>
	    				<th>상세 정보</th>
	    			</tr>
	    			<tr>
	    				<td>sample</td>
	    				<td>ㅛㅛㅛㅛ ㅡㅡ ㅇㅇ ㅗㅗ:ㅡㅡ</td>
	    				<td>예제임</td>
	    				<td>
	    					<button type="button" id="sample" class="btn_ang" 
	    					onclick="userDetailClicked(id)" data-toggle="modal" data-target="#modal_userDetail">보기</button>
	    				</td>
	    			</tr> 
	    		</table>
	    	</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
		<!-- 모달 : 기기 등록 -->
		<div class="modal fade" id="modal_addDevice" tabindex="-1" role="dialog" 
		aria-labelledby="modal_addDevice" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">기기 등록 | Add Device</h4>
				  	</div>
				  	<div class="modal-body">
				  		<form>
							<div class="form-group">
								<label for="register_SN">일련 번호</label>
								<input type="text" class="form-control" id="register_SN" placeholder="일련 번호를 입력하세요.">
							</div>
							<div class="form-group">
								<label for="register_device_type">제품 유형</label>
								<input type="text" class="form-control" id="register_device_type" placeholder="제품 유형을 입력해주세요.">
							</div>
							<div class="form-group">
								<label for="register_device_name">제품명</label>
								<input type="text" class="form-control" id="register_device_name" placeholder="제품명을 입력해주세요.">
							</div>
							<div class="form-group">
								<label for="register_productive_date">생산 일시</label>
								<input type="text" class="form-control" id="register_productive_date" placeholder="생산 일시를 입력해주세요.">
							</div>
						</form>
				  	</div>
				  	<div class="modal-footer">
				  		<button type="button" onclick="addDevice()" id="btn_accept_addDevice" class="btn_save">등록</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달 : 기기 등록 종료 -->
		
		<!-- 모달 : 사용자 상세 정보 -->
		<div class="modal fade" id="modal_userDetail" tabindex="-1" role="dialog" 
		aria-labelledby="modal_userDetail" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">사용자 상세 정보</h4>
				  	</div>
				  	<div class="modal-body">
				  		<table id="table_userDetail" class="table_ang">
				  			<tr>
				  				<th>ID</th>
				  				<td id="detail_ID">sample</td>
				  			</tr>
				  			<tr>
				  				<th>등록 시간</th>
				  				<td id="detail_reg_date">YYYY MM DD HH:mm</td>
				  			</tr>
				  			<tr>
				  				<th>사용자 이름</th>
				  				<td id="detail_user_name">예제임</td>
				  			</tr>
				  			<tr>
				  				<th>연락처</th>
				  				<td id="detail_phone">010-1234-1234</td>
				  			</tr>
				  			<tr>
				  				<th>주소</th>
				  				<td id="detail_address">경기도 수원시 여러분</td>
				  			</tr>
				  		</table>
				  		<div class="divline_60"></div>
				  		<table id="table_userDevice" class="table_ang">
				  			<tbody>
				  				<tr><th colspan="4">등록한 기기 목록</th></tr>
				  				<tr id="tr_userDevice">
				  					<th>제품 번호</th>
				  					<th>제품명</th>
				  					<th>제품 유형</th>
				  					<th>생산 일시</th>
				  				</tr>	
				  				<tr>
				  					<td>SAMPLE123</td>
				  					<td>예시제품</td>
				  					<td>전시품</td>
				  					<td>YYYY MM DD HH:mm</td>
				  				</tr>  				
				  			</tbody>
				  		</table>
				  	</div>
				  	<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달 : 사용자 상세 정보 종료 -->

	<!-- 본문 종료 -->
    </body>
</html>