<!DOCTYPE html>
<html lang="ko">
    <head>
    	<!-- 메타 정보 및 스타일 시트 연동 -->
   		<meta charset="utf-8">
        <title>Provider dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/css/Nwagon.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/fontbase.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/provider_main.css" rel="stylesheet"/>
    </head>
    <!-- JQuery, Ajax, 부트스트랩 컴포넌트 연동 -->
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/provider_main.js"></script>
    <script src="/static/js/Nwagon.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>	
	
    <body>
    	
    	<!-- 최상단 소형 헤더 -->
		<div id="container_navbar_top">
			<span id="header_navbar_top">&nbsp;&nbsp;&nbsp;&nbsp;사업자 대시보드</span>
			<button id="btn_navbar_top_bottom" class="glyphicon glyphicon-menu-down"></button>
		</div>
		<!-- 몸통 -->
		<div id="container_body">
			<!-- SVG 헤더 -->
			<div id="container_SVGheader">
				<span>서비스 현황판</span>
			</div>
			<!-- SVG 그래프 & 정보 컨테이너 -->
			<div id="container_SVG_p">
				<!-- 그래프 정보 컨테이너 -->
				<div id="container_SVGinfo">
					<div>
						<div id="cluster_nodes_stat"><h4 id="nodes_stat_num"><strong>15,080</strong></h4></div>
						<script id="script_chart_totalNodes">
							
						</script>
						<span>서비스 참여 중인 노드 : </span><br>
						<p><strong><span id="nodes_stat_num2">15,080</span></strong> nodes</p>
					</div>
				</div>
				
				<div id="container_SVG">
					<span id="label_unit">(단위 : EA)</span>
						<div id="chart_cluster_util"></div>
							<script>
								
							</script>
							<h3><br>서비스 참여 노드 추이</h3>
				</div>
				<div id="container_citylist">
					<h3>도시 영역 목록</h3>
					<div id="btnlist_city">
						<a href="/provider_cityinfo" class = "btn_ang citybtn" id="city_A">City A</a>
						<a href="#" class = "btn_ang citybtn" id="city_B">City B</a>
						<a href="#" class = "btn_ang citybtn" id="city_C">City C</a>
					</div>
				</div>
			</div>
			<!-- 기기 & 사용자 관련 정보 컨테이너 -->
			<div id="container_infolist">
				<div>
					<!-- 기기 등록  -->
					<button type="button" id="btn_add3rd" class="btn_transp" 
					data-toggle="modal" data-target="#modal_add3rd">
						기기 등록 | Add Device
					</button>
					
					<!-- 기기 정보 목록 -->
					<button type="button" data-toggle="collapse" data-target="#col_3rdlist" 
					id="btn_3rdlist" class="btn_transp" aria-expanded="false" aria-controls="col_3rdlist">
						기기 목록 조회 | Show Device List
					</button>
					
					<!-- 사용자 정보 목록 -->
					<button type="button" data-toggle="collapse" data-target="#col_userlist" 
					id="btn_3rdlist" class="btn_transp" aria-expanded="false" aria-controls="col_userlist">
						사용자 목록 조회 | Show User List
					</button>
					
					<div class="collapse" id="col_3rdlist">
						<div class="well">
							<div id="container_requestboard">
	    		<table id="table_device">
	    			<tr id="table_device_h">
	    				<th>S/N</th>
	    				<th>제품 유형</th>
	    				<th>제품명</th>
	    				<th>생산 일시</th>
	    			</tr>
	    			<tr>
	    				<td>10001</td>
	    				<td>세탁기</td>
	    				<td>액티브워시 16kg</td>
	    				<td>2016-06-02 22:33</td>
	    			</tr>
	    		</table>
	    	</div>
						</div>
					</div>
					<div class="collapse" id="col_userlist">
						<div class="well">
							<div id="container_userboard">
	    		<table id="table_user">
	    			<tr>
	    				<th>사용자 계정</th>
	    				<th>이름</th>
	    				<th>등록 시간</th>
	    			</tr>
	    			<tr>
	    				<td>a1234</td>
	    				<td>김태경</td>
	    				<td>20:45 MAY 26, 2016</td>
	    			</tr>
	    			<tr>
	    				<td>a1235</td>
	    				<td>정회운</td>
	    				<td>20:49 MAY 26, 2016</td>
	    			</tr>
	    			<tr>
	    				<td>a1236</td>
	    				<td>조성수</td>
	    				<td>21:55 MAY 26, 2016</td>
	    			</tr>
	    			<tr>
	    				<td>a1237</td>
	    				<td>경희대학교</td>
	    				<td>21:01 MAY 26, 2016</td>
	    			</tr>
	    		</table>
	    	</div>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade" id="modal_add3rd" tabindex="-1" role="dialog" 
		aria-labelledby="modal_add3rd" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">기기 등록 | Add Device</h4>
				  	</div>
				  	<div class="modal-body">
				    	...
				  	</div>
				  	<div class="modal-footer">
				  		<button type="button" class="btn_save">저장</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>

	<!-- 본문 종료 -->
    </body>
</html>