<!DOCTYPE html>
<html lang="ko">
    <head>
    	<!-- 메타 정보 및 스타일 시트 연동 -->
   		<meta charset="utf-8">
        <title>Provider dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="/static/css/Nwagon.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/bootstrap.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/fontbase.css" rel="stylesheet"/>
        <link type="text/css" href="/static/css/provider_cityinfo.css" rel="stylesheet"/>
    </head>
    <!-- JQuery, Ajax, 부트스트랩 컴포넌트 연동 -->
    <script src="/static/js/jquery-2.2.4.js"></script>
    <script src="/static/js/Nwagon.js"></script>
	<script src="/static/js/bootstrap.js"></script>	
	<script src="/static/js/provider_cityinfo.js"></script>
	<script src="/static/js/canvasjs.js"></script>
	
    <body>
		<div id="div_cityID">{{city_id}}</div>
    	<!-- 최상단 소형 헤더 -->
		<div id="container_navbar_top">
			<a href="/" id="btn_navbar_top_back" class ="glyphicon glyphicon-menu-left"></a>
			<span id="header_navbar_top">사업자 대시보드 - 도시 영역 현황판</span>
			<button id="btn_navbar_top_bottom" class="glyphicon glyphicon-menu-down"></button>
		</div>
		<!-- 몸통 -->
		<div id="container_body">
			<!-- SVG 헤더 -->
			<div id="container_SVGheader">
				<span>도시 영역 현황 : </span>
				<span id="cityname"><em>도시명</em></span>
			</div>
			<!-- SVG 그래프 & 정보 컨테이너 -->
			<div id="container_SVG_p">
				<!-- 그래프 정보 컨테이너 -->
				<div id="container_SVGinfo">
					<div>
						<div id="cluster_nodes_stat"><h4 id="nodes_stat_num"><strong>0</strong></h4></div>
						
						<span>클러스터에 참여한 노드 : </span><br>
						<p id="nodes_stat_num_p"><strong>0 nodes</strong></p>
					</div>
					<div>
						<div id="cluster_active_stat"><h4 id="active_stat_num"><strong>0</strong></h4></div>
						<script>
							
						</script>
						<span>활성화 된 노드 : </span><br>
						<p id="active_stat_num_p"><strong>0 nodes</strong></p>
					</div>
					<div>
						<div id="cluster_util_stat"><h4 id="util_stat_num"><strong>0</strong></h4></div>
						<script>
							
						</script>
						<span>클러스터 가용률 : </span><br>
						<p id="util_stat_num_p"><strong>0 %</strong></p>
					</div>
				</div>
				<div id="container_SVG">
						<div id="chart_cluster_thrp" style="height:300px; width:750px;"></div>
						<h3>클러스터 처리율 그래프(Cluster Through-put Chart)</h3>
							 
				</div>
				<div id="container_Pi_p">
					<div id="container_PiSVG">
						<div id="chart_city_scale"></div>
						<script>
						    var options = {
						        'legend':{
						            names: [['City A'], ['Other City']]
						        },
						        'dataset': {
						            title: 'city scale chart',
						            values: [[32.6],[67.4]],
						            degree_values:[326, 674],
						            colorset: ['#009e73', '#56b4e9'],
						            fields: ['City A', 'Other City'],
						            opacity:[0.8, 0.25]
						        },
						        'core_circle_value' : ['32.6%'],
						        'core_circle_radius':25,
						        'maxValue' : 100,
						        'increment' : 15,
						        'chartDiv': 'chart_city_scale',
						        'chartType': 'polar_pie',
						        'chartSize': {width:550, height:280}
						    };
						    Nwagon.chart(options);
						</script>
						<h3>도시영역 규모 | Scale of city area</h3>
					</div>
					<div id="container_PiSVGinfo">
						<div>
							<span>전체 노드 수 | Total Nodes</span><br>
							<p><strong>1000 nodes</strong></p>
						</div>
						<div>
							<span>해당 영역 노드 수 | Nodes in this area</span><br>
							<p><strong>326 nodes</strong></p>
						</div>
						<div>
							<span>도시 영역 비중 | Gravity</span><br>
							<p><strong>32.6 %</strong></p>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 협력업체 정보 컨테이너 -->
			<div id="container_infolist">
				<div>
					<!-- 협력업체 정보 추가  -->
					<button type="button" id="btn_addCoop" class="btn_transp" 
					data-toggle="modal" data-target="#modal_addCoop">
						협력업체 정보 추가 | Add Co-op
					</button>
					
					<!-- 협력업체 정보 목록 -->
					<button type="button" data-toggle="collapse" data-target="#col_Cooplist" 
					id="btn_Cooplist" class="btn_transp" aria-expanded="false" aria-controls="col_Cooplist">
						협력업체 목록 | Co-op list
					</button>
					
					<div class="collapse" id="col_Cooplist">
						<div class="well">
							<table id="table_Cooplist" class="table_ang">
				    			<tr id="tr_Cooplist">
				    				<th>업체명</th>
				    				<th>업체 유형</th>
				    				<th>Telehash ID</th>
				    			</tr>
				    		</table>
						</div>
					</div>
				</div>			
			</div>
		</div>
		
		<!-- 모달 : 협력업체 등록 -->
		<div class="modal fade" id="modal_addCoop" tabindex="-1" role="dialog" 
		aria-labelledby="modal_addCoop" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">협력업체 등록 | Add Co-op</h4>
				  	</div>
				  	<div class="modal-body">
				  		<form>
							<div class="form-group">
								<label for="register_Coop_name">업체명</label>
								<input type="text" class="form-control" id="register_SN" placeholder="업체명을 입력해주세요.">
							</div>
							<div class="form-group">
								<label for="register_Coop_category">업체 유형</label>
								<input type="text" class="form-control" id="register_device_type" placeholder="업체 유형을 입력해주세요.">
							</div>
							<div class="form-group">
								<label for="register_Coop_address">업체 주소</label>
								<input type="text" class="form-control" id="register_Coop_address" placeholder="업체 위치(주소)를 입력해주세요.">
							</div>
						</form>
				  	</div>
				  	<div class="modal-footer">
				  		<button type="button" onclick="addCoop()" id="btn_accept_addCoop" class="btn_save">등록</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 모달 : 협력업체 등록 종료 -->

	<!-- 본문 종료 -->
    </body>
</html>